.profile__info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  column-gap: 18px;
}

@media screen and (max-width: 768px) {
  .profile__info {
      column-gap: 6px;
  }
}