.header {
  max-width: 882px;
  border-bottom: 1px solid #545454;
  opacity: 1;
  padding-top: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .header {
      padding-top: 28px;
  }
}
